.App {
    text-align: top;
}
  
  
.App-header {
    background-color: rgb(147, 177, 191); 
    display: flex;
    flex-direction: column;
    align-items: top;
    justify-content: top;
    font-size: calc(2vmin);
    color: white;
}

.navbar {
    height: 10vmin;
    width: screen;
    background-color: rgb(60, 90, 105);
    color: whitesmoke;
    margin-bottom: 1vmin;
    text-align: center;
    font-size: 2.5vmin;
    display: flex;
    justify-content: top;
    align-items: center;
}

.btn {
    height: 10vmin;
    width: 10vmin;
    margin: 0.3vmin;
    background:rgb(68, 119, 141);
    box-sizing: unset;
    border: hidden;
    font-size: 2.5vmin;
}
  
.btn:hover {
    transition-duration: 0.3s;  
    background: rgb(88, 139, 161);
}
  
.parallelogram{
    transform: skew(-25deg);
}
  
.fa-home{  
    transform: skew(25deg);
    text-align: center;
    justify-content: center;
    font-size: 5vmin;
    size: fixed;
}

.fa-book{
    transform: skew(25deg);
    text-align: center;
    justify-content: center;
    font-size: 5vmin;
    size: fixed;
}

.bertrandt-logo {
    height: 3vmin;
    padding-left: 2vmin;
    padding-right: 6vmin;
    float: left;
}
