.App {
    text-align: top;
}

.App-header {
    display: flex;
    flex-direction: column;
    align-items: top;
    justify-content: top;
    font-size: calc(2vmin);
}

.navbar {
    height: 15vmin;
    width: 150%;
    bottom: 0;
    position: fixed;
    background-color: rgb(233, 233, 233);
    color: whitesmoke;
    display: flex;
    justify-content: top;
    align-items: center;
    border-top: 0.5vmin solid rgb(216, 216, 216);
    margin-bottom: 0%;
}

#buffer-bar {
    position: absolute;
    overflow: hidden;
    font-size: calc(2vmin);
    height: 23vmin;
    width: 50%;
    background-color: rgb(40, 40, 40);
    color: whitesmoke;
}

#buffer_mover {
    cursor: move;
    display: flex;
    align-items: center;
    justify-content: center;
}

.buffer-info {
    background-color: rgb(200, 200, 200);
    width: 100%;
    padding: 1vmin;
    padding-bottom: 0.5vmin;
    margin-bottom: 1vmin;
    justify-content: center;
    align-items: center;
}

#mfcc-bar {
    position: absolute;
    overflow: hidden;
    font-size: calc(2vmin);
    height: 23vmin;
    width: 50%;
    background-color: rgb(40, 40, 40);
    color: whitesmoke;
}

#mfcc_mover {
    cursor: move;
    display: flex;
    align-items: center;
    justify-content: center;
}

.mfcc-info {
    background-color: rgb(200, 200, 200);
    display: flex;
    height: 23vmin;
    width: 100%;
    padding-bottom: 0.5vmin;
}

.btn-mb {
    transition-duration: 0.15s;
    height: 5vmin;
    width: 5vmin;
    margin: 0vmin;
    padding: 0vmin;
    background:rgb(68, 119, 141);
    border: hidden;
    outline: none;
    font-size: 3vmin;
}

.btn {
    transition-duration: 0.15s;
    height: 14.5vmin;
    width: 14.5vmin;
    margin: 5.5vmax;
    padding: 0vmin;
    background:rgba(233, 233, 233);
    border: hidden;
    outline: none;
    font-size: 3vmin;
}
  
.btn:hover {
    transition-duration: 0.3s;  
    filter: opacity(50%);
    -webkit-filter: opacity(50%);
}

.fa {
    color: black !important;
}

.fa-home {  
    color:black;
    text-align: center;
    justify-content: center;
    font-size: 8vmin;
    size: fixed;
}

.fa-search{
    color:black;
    text-align: center;
    justify-content: center;
    font-size: 8vmin;
    size: fixed;
}

.fa-pie-chart{
    color:black;
    text-align: center;
    justify-content: center;
    font-size: 8vmin;
    size: fixed;
}

.fa-question{
    color:black;
    text-align: center;
    justify-content: center;
    font-size: 8vmin;
    size: fixed;
}

.fa-user{
    color:black;
    text-align: center;
    justify-content: center;
    font-size: 8vmin;
    size: fixed;
}


.bertrandt-logo {
    height: 3vmin;
    padding-left: 2vmin;
    padding-right: 6vmin;
    float: left;
}

.bar-image {
    height: 5vmin;
    padding-left: 0vmin;
    float: left;
}
